 ### Machine Learning Fundamentals
 ### What is Machine Learning?
 -  ML refer to computers learning from examples to make predictions or decisions.
 - i.e we teach our computers to recognize patterns and make decisions

 ## Model Validation

- Train-test split [ Train set & Test set]
-  Cross-validation

Underfitting, overfitting also know as bias and variance

### train-test split ----> scikit learn
We produce a random seed and make them reproduceable
Think of it as - control the randomness in advance

## Fish dataset
#### This is an extension of Linear Regression that includes penalty terms to help prevent overffiting

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#load dataset
df =  pd.read_csv('./fish.csv')
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [7]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [8]:
df.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [15]:
df['Species'].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [20]:
# Convert species column into zeroes
# We give Bream numerical value of 1, we give the rest other numerical values
# # Convert all categorical columns in df into dummy/one-hot encoded variables,
# then show a summary of the new DataFrame (column types, counts, memory usage).

df_ohe = pd.get_dummies(df)
df_ohe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Weight             159 non-null    float64
 1   Length1            159 non-null    float64
 2   Length2            159 non-null    float64
 3   Length3            159 non-null    float64
 4   Height             159 non-null    float64
 5   Width              159 non-null    float64
 6   Species_Bream      159 non-null    bool
 7   Species_Parkki     159 non-null    bool
 8   Species_Perch      159 non-null    bool
 9   Species_Pike       159 non-null    bool
 10  Species_Roach      159 non-null    bool
 11  Species_Smelt      159 non-null    bool
 12  Species_Whitefish  159 non-null    bool
dtypes: bool(7), float64(6)
memory usage: 8.7 KB

In [21]:
# Convert categorical columns in df into dummy/one-hot encoded variables,
# dropping the first category to avoid duplicate (dummy variable trap).

df_Ohe2  = pd.get_dummies(df, drop_first=True) 
df_Ohe2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Weight             159 non-null    float64
 1   Length1            159 non-null    float64
 2   Length2            159 non-null    float64
 3   Length3            159 non-null    float64
 4   Height             159 non-null    float64
 5   Width              159 non-null    float64
 6   Species_Parkki     159 non-null    bool
 7   Species_Perch      159 non-null    bool
 8   Species_Pike       159 non-null    bool
 9   Species_Roach      159 non-null    bool
 10  Species_Smelt      159 non-null    bool
 11  Species_Whitefish  159 non-null    bool
dtypes: bool(6), float64(6)
memory usage: 8.5 KB

In [23]:
# Now our dataset is clean
df_Ohe2.head()

,Weight,Length1,Length2,Length3,Height,Width,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
0,242.0,23.2,25.4,30.0,11.5200,4.0200,False,False,False,False,False,False
1,290.0,24.0,26.3,31.2,12.4800,4.3056,False,False,False,False,False,False
2,340.0,23.9,26.5,31.1,12.3778,4.6961,False,False,False,False,False,False
3,363.0,26.3,29.0,33.5,12.7300,4.4555,False,False,False,False,False,False
4,430.0,26.5,29.0,34.0,12.4440,5.1340,False,False,False,False,False,False

In [24]:
df_Ohe2.columns

Index(['Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width',
       'Species_Parkki', 'Species_Perch', 'Species_Pike', 'Species_Roach',
       'Species_Smelt', 'Species_Whitefish'],
      dtype='object')

In [38]:
# do we need to scale our data?
# lets create of model
# 80% for training, 20% for testing

# modelling
from sklearn.model_selection import train_test_split

#independent & dependent variables
X = df_Ohe2.drop('Weight', axis=1)     # drop the column 'Weight'
y = df_Ohe2['Weight']                  # select the target column

In [44]:
# split data into Training and testing set
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size =0.2, random_state=42)

x_train, x_train, y_train, y_test

(     Length1  Length2  Length3   Height   Width  Species_Parkki  \
 75      15.0     16.2     17.2   4.5924  2.6316           False
 138     43.2     46.0     48.7   7.7920  4.8700           False
 2       23.9     26.5     31.1  12.3778  4.6961           False
 86      20.0     22.0     23.5   6.1100  3.4075           False
 45      20.5     22.5     25.3   7.0334  3.8203           False
 ..       ...      ...      ...      ...     ...             ...
 71      24.0     26.0     29.0  11.3680  4.2340            True
 106     25.9     28.0     29.4   7.8204  4.2042           False
 14      29.4     32.0     37.2  14.9544  5.1708           False
 92      20.5     22.5     24.0   6.7920  3.6240           False
 102     25.2     27.3     28.7   8.3230  5.1373           False

      Species_Perch  Species_Pike  Species_Roach  Species_Smelt  \
 75            True         False          False          False
 138          False          True          False          False
 2            False         False          False          False
 86            True         False          False          False
 45           False         False           True          False
 ..             ...           ...            ...            ...
 71           False         False          False          False
 106           True         False          False          False
 14           False         False          False          False
 92            True         False          False          False
 102           True         False          False          False

      Species_Whitefish
 75               False
 138              False
 2                False
 86               False
 45               False
 ..                 ...
 71               False
 106              False
 14               False
 92               False
 102              False

 [127 rows x 11 columns],
      Length1  Length2  Length3   Height   Width  Species_Parkki  \
 75      15.0     16.2     17.2   4.5924  2.6316           False
 138     43.2     46.0     48.7   7.7920  4.8700           False
 2       23.9     26.5     31.1  12.3778  4.6961           False
 86      20.0     22.0     23.5   6.1100  3.4075           False
 45      20.5     22.5     25.3   7.0334  3.8203           False
 ..       ...      ...      ...      ...     ...             ...
 71      24.0     26.0     29.0  11.3680  4.2340            True
 106     25.9     28.0     29.4   7.8204  4.2042           False
 14      29.4     32.0     37.2  14.9544  5.1708           False
 92      20.5     22.5     24.0   6.7920  3.6240           False
 102     25.2     27.3     28.7   8.3230  5.1373           False

      Species_Perch  Species_Pike  Species_Roach  Species_Smelt  \
 75            True         False          False          False
 138          False          True          False          False
 2            False         False          False          False
 86            True         False          False          False
 45           False         False           True          False
 ..             ...           ...            ...            ...
 71           False         False          False          False
 106           True         False          False          False
 14           False         False          False          False
 92            True         False          False          False
 102           True         False          False          False

      Species_Whitefish
 75               False
 138              False
 2                False
 86               False
 45               False
 ..                 ...
 71               False
 106              False
 14               False
 92               False
 102              False

 [127 rows x 11 columns],
 75      51.5
 138    567.0
 2      340.0
 86     120.0
 45     160.0
        ...
 71     300.0
 106    250.0
 14     600.0
 92     150.0
 102    300.0
 Name: Weight, Length: 127, dtype: float64,
 78       78.0
 155      13.4
 128     200.0
 55      270.0
 94      150.0
 29     1000.0
 147       7.0
 51      180.0
 98      188.0
 141    1250.0
 19      650.0
 60     1000.0
 15      600.0
 65      150.0
 24      700.0
 30      920.0
 126    1000.0
 101     218.0
 96      225.0
 16      700.0
 151      10.0
 18      610.0
 12      500.0
 9       500.0
 31      955.0
 125    1100.0
 95      170.0
 56      270.0
 145       6.7
 152       9.9
 135     510.0
 76       70.0
 Name: Weight, dtype: float64)

In [45]:
x_train.head()

,Length1,Length2,Length3,Height,Width,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
75,15.0,16.2,17.2,4.5924,2.6316,False,True,False,False,False,False
138,43.2,46.0,48.7,7.7920,4.8700,False,False,True,False,False,False
2,23.9,26.5,31.1,12.3778,4.6961,False,False,False,False,False,False
86,20.0,22.0,23.5,6.1100,3.4075,False,True,False,False,False,False
45,20.5,22.5,25.3,7.0334,3.8203,False,False,False,True,False,False

In [52]:
y_train.head()

75      51.5
138    567.0
2      340.0
86     120.0
45     160.0
Name: Weight, dtype: float64

In [49]:
y_test.head()

78      78.0
155     13.4
128    200.0
55     270.0
94     150.0
Name: Weight, dtype: float64

### Why use the random state?  
- happens anytime you use the x_test
- If you don’t control the randomness → every time you run the code, you might get a different split.
- If you set random_state → you “lock in” the randomness so the split is reproducible.

#### cont'...

In [55]:
from sklearn.linear_model import LinearRegression

# instantiate the model
lr = LinearRegression()
 
#fit the model (i.e training our model)
lr.fit(x_train, y_train)

LinearRegression()

In [62]:
# Now we evaluate our model $ test our model
#x_test, y_test

y_preds = lr.predict(x_test)    # use our model to test on x_test

y_preds

array([  18.73825424,   11.88642049,  187.71128095,  332.73989462,
        212.09701648,  757.76161609,  -61.14301932,  255.77252524,
        260.49479187, 1148.32283034,  600.42812967,  852.95666864,
        541.6348983 ,  140.05796526,  680.96324928,  818.78498332,
       1009.77141718,  289.70475993,  226.06716705,  585.13887424,
        -11.02265194,  585.70704112,  509.58219989,  492.02110639,
        814.27086551,  964.09005079,  219.24045431,  356.93819832,
        -90.40664262,  -11.87462241,  575.80799591,  -18.41252664])

In [67]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

r2 = r2_score(y_test, y_preds)
mae = mean_absolute_error(y_test, y_preds)
mse = mean_squared_error(y_test, y_preds)
rmse = np.sqrt(mse)

print(f"This is R2 Score: {r2},\n Mean absolute error: {mae},\n Mean Squared error : {mse},\n Root Squared error: {rmse}")

This is R2 Score: 0.9507352480054521,
 Mean absolute error: 65.30005153357357,
 Mean Squared error : 7007.383189853823,
 Root Squared error: 83.710114023658

In [68]:
df['Weight'].describe()

count     159.000000
mean      398.326415
std       357.978317
min         0.000000
25%       120.000000
50%       273.000000
75%       650.000000
max      1650.000000
Name: Weight, dtype: float64