### Logistic Regression

In [86]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [74]:
# load the Titanic dataset
df = sns.load_dataset('titanic')

In [75]:
df.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [77]:
df.shape

(891, 15)

In [78]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [79]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [80]:
X = ['pclass', 'sex', 'age', 'deck', 'sibsp']
y = 'survived'

In [81]:
titanic_df = df[X +[y]].copy()

### Handling the missing Rows on Age Column

In [82]:
# titanic_df['age'] = titanic_df['age'].fillna(titanic_df['age'].mean())
titanic_df['age'] = titanic_df['age'].fillna(titanic_df['age'].median())
# titanic_df['age'] = titanic_df['age'].fillna(titanic_df['age'].mode())

### Group by class to fill age gap

In [83]:
titanic_df['sex'] = titanic_df['sex'].map({'male':0, 'female':1})

In [84]:
titanic_df.head(20)

    pclass  sex   age deck  sibsp  survived
0        3    0  22.0  NaN      1         0
1        1    1  38.0    C      1         1
2        3    1  26.0  NaN      0         1
3        1    1  35.0    C      1         1
4        3    0  35.0  NaN      0         0
5        3    0  28.0  NaN      0         0
6        1    0  54.0    E      0         0
7        3    0   2.0  NaN      3         0
8        3    1  27.0  NaN      0         1
9        2    1  14.0  NaN      1         1
10       3    1   4.0    G      1         1
11       1    1  58.0    C      0         1
12       3    0  20.0  NaN      0         0
13       3    0  39.0  NaN      1         0
14       3    1  14.0  NaN      0         0
15       2    1  55.0  NaN      0         1
16       3    0   2.0  NaN      4         0
17       2    0  28.0  NaN      0         1
18       3    1  31.0  NaN      1         0
19       3    1  28.0  NaN      0         1

### Train Test Split

In [92]:
# import numpy as np
# X = np.array(X)   # convert list to numpy array

# print(X.shape, len(y))   # now works
# X_train, X_test, y_train, y_test = train_test_split(
#     X, y, test_size=0.25, random_state=42, stratify=y
# )

X_array = titanic_df[X]
y_array = titanic_df[y]

In [95]:
X_train, X_test, y_train, y_test = train_test_split(
    X_array, y_array, test_size=0.25, random_state=42, stratify=y_array
)

#### Fit our Model

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

LogR = LogisticRegression(max_iter=1000)
LogR.fit(X_train, y_train)

In [102]:
y_pred = LogR.predict(X_test)

ValueError: Input contains NaN

In [ ]:
accuracy