# Evaluation Methods in Regression

When we build a regression model, we always want to know how well it is performing. Thatâ€™s what evaluation metrics tell us.

We have two main types of evaluation methods:

    1.Variance-based metrics â†’ tell us how much of the targetâ€™s variation is explained by the model (R2 and adjusted r2)

    2.Error-based metrics â†’ tell us how far off our predictions usually are

#### RÂ² (R-squared)
Measures how much of the variation in the target variable our model can explain. For example, if RÂ² = 0.8, it means the model explains 80% of the differences in the target.
 RÂ² is a good first check to see if the model is capturing the general pattern, but it can sometimes be misleading in multiple regression because adding more predictors always increases RÂ², even if they arenâ€™t helpful.

In [1]:
# Assuming y_test is actual values and y_pred is predicted values
r2 = r2_score(y_test, y_pred)
print(f"RÂ² Score: {r2:.2f}")

NameError: name 'r2_score' is not defined

#### Adjusted RÂ²
fixes this problem by adjusting for the number of predictors in the model. It gives a more honest picture of how well the model is performing, especially when we have multiple variables.
If adding a useless variable, adjusted RÂ² may stay the same or even decrease, while RÂ² might increase slightly.

In [2]:
n = X_test.shape[0]  # number of samples (we have 40 students in class today)
p = X_test.shape[1]  # number of predictors (name, age, occ, hours studies, hours spent in group work)
adjusted_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)
print(f"Adjusted RÂ²: {adjusted_r2:.2f}")

NameError: name 'X_test' is not defined

In [3]:
adjusted_r2 = 1 - (1-0.8)*(40 - 1)/(40 -5-1)


#### MAE (Mean Absolute Error)
Measures the average difference between the predicted values and the actual values, ignoring whether the prediction is too high or too low.
It is easy to interpret because it uses the same units as the target variable. For example, if MAE = 1.5 in predicting tips, the model is off by about $1.50 on average.

In [4]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae:.2f}")

NameError: name 'y_test' is not defined

#### RMSE (Root Mean Squared Error)
 is similar to MAE but gives more weight to larger errors.
 This means that big mistakes affect the metric more than small mistakes. RMSE is useful when large errors are particularly bad and we want the model to avoid them.

In [ ]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(f"MSE: {mse:.2f}")
print(f"RMSE: {rmse:.2f}")

## Comparing Regression Evaluation Metrics

When building a regression model, it's important to **choose the right evaluation metric** depending on what you want to measure. Hereâ€™s a simple comparison for beginners:

| Metric | What it Measures | When to Use | How to Interpret |
|--------|-----------------|-------------|----------------|
| **RÂ² (R-Squared)** | Proportion of variance in the target explained by the model | To check **overall goodness-of-fit** | 0 â†’ model explains nothing, 1 â†’ model explains everything. Higher is better. |
| **Adjusted RÂ²** | RÂ² adjusted for the number of predictors | When using **multiple predictors** to avoid overestimating performance | Same as RÂ² but penalizes unnecessary predictors. Use it to compare models with different numbers of features. |
| **MAE (Mean Absolute Error)** | Average absolute difference between predicted and actual values | When you want **easy-to-understand error in original units** | Lower MAE â†’ predictions are closer to actual values. Errors are weighted equally. |
| **RMSE (Root Mean Squared Error)** | Square root of average squared differences | When **large errors are more problematic** | Lower RMSE â†’ better model. Sensitive to large errors; a few big mistakes will increase RMSE more than MAE. |

---

### ðŸ”¹ Overview

1. **Use RÂ² and Adjusted RÂ²** to check **how well your model explains variance**.  
   - Adjusted RÂ² is preferred for multiple regression.  

2. **Use MAE or RMSE** to see **how far off your predictions are** in real units.  
   - MAE = average error (all errors counted equally).  
   - RMSE = penalizes large errors more (good if big mistakes are costly).  

3. **Interpretation Example (Body Mass Prediction)**:  
   - RÂ² = 0.85 â†’ 85% of body mass variation explained by model.  
   - Adjusted RÂ² = 0.83 â†’ After considering number of predictors, model still explains 83%.  
   - MAE = 200 â†’ Predictions off by 200 grams on average.  
   - RMSE = 250 â†’ Large errors affect predictions more, average deviation is 250 grams.  

**Takeaway:**  
- Use **RÂ²/Adjusted RÂ²** to understand fit.  
- Use **MAE/RMSE** to understand prediction errors.  
- Looking at **both types** gives a complete picture of model performance.

# Dealing with Categorical Variables

Categorical variables are non-numeric variables that represent groups or categories.

In regression models, which typically require numeric inputs, handling categorical variables appropriately is crucial for building accurate and interpretable models.

## One-Hot Encoding

One-hot encoding is used to convert categorical variables into a form that can be provided to a machine learning model.

To handle categorical variables in regression, we follow these steps:

    1: One-Hot Encoding: Convert categorical variables into binary columns, where each column corresponds to a unique category of the variable.

    2: Regression: Once the categorical variables are encoded, they can be used as features (independent variables) in a regression model.

    3: Fit a Linear Regression Model: Use the encoded features along with a target variable to fit a linear regression model.

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Initialize the encoder
onehot_encoder = OneHotEncoder(drop='first', sparse=False)  # drop='first' avoids multicollinearity
## sparse matrix work best is with a large dataset (we set it to false when dealing with easier )

# Fit and transform your categorical column
# Example: your_column = [['Adelie'], ['Gentoo'], ['Chinstrap']]
encoded_array = onehot_encoder.fit_transform("categorical variable x ir gender, occupation, country, bool statemtn")

print(encoded_array)

In [ ]:
3 students             Grace      Abdullahi
Briege     Female
Grace     Female              1
Abdullahhi  Male                            1

In [ ]:
Age categories  0-5   6-12   13-19  20-27 28-33
0-5               1
6-12                    1
13-19                         1
20-27                                 1
28-33                                     1

In [ ]:
Age categories   6-12   13-19  20-27 28-33
0-5
6-12               1
13-19                      1
20-27                             1
28-33                                   1

### Label Encoding
Label Encoding is a technique where each category in the categorical feature is assigned a unique integer value. This is different from One-Hot Encoding, where each category gets a separate binary column. Label Encoding is simpler and might be more appropriate for ordinal data (categories that have an intrinsic order), but it can also be used for nominal data in some cases.

To handle categorical variables using regression, the steps will be:

    1. Label Encoding: Convert the categorical variable into integers.

    2.Regression: Use the label-encoded feature and fit the regression model.
    
    3.Plot the Regression Line: Visualize how the regression line fits the data after encoding.

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Initialize the encoder
label_encoder = LabelEncoder()

# Fit and transform your categorical column
# Example: your_column = ['Male', 'Female', 'Male']
encoded_column = label_encoder.fit_transform(your_column)

print(encoded_column)

In [ ]:
Days of the Week
Week Column     Label Encoding
Sunday              0
Monday              1
Tuesday             2
Wednesdays          3
Thursdays           4
Fridays             5
Saturdays           6

# Hands on Lab

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [ ]:
# Load public dataset
df = sns.load_dataset("penguins")

# Drop missing values for simplicity
df = df.dropna()

df.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,Female
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,Male
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,Male

In [ ]:
## Define the target and predictors
### Can we predict the body mass of the pengiuns based on it's characteristics

X = df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'species', 'sex']]
y = df['body_mass_g']

In [ ]:
df['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [ ]:
## handle the categorical variables
# One-hot encode categorical variables
X_encoded = pd.get_dummies(X, drop_first=True)

X_encoded.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,species_Chinstrap,species_Gentoo,sex_Male
0,39.1,18.7,181.0,False,False,True
1,39.5,17.4,186.0,False,False,False
2,40.3,18.0,195.0,False,False,False
4,36.7,19.3,193.0,False,False,False
5,39.3,20.6,190.0,False,False,True

In [ ]:
## train test split
X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42
)

In [ ]:
## fit the mlr
model = LinearRegression()
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

In [ ]:
## r2 score
r2 = r2_score(y_test, y_pred)
print("RÂ²:", round(r2, 3))

RÂ²: 0.898

In [ ]:
##adjusted r2
n = X_test.shape[0]   # number of samples
p = X_test.shape[1]   # number of predictors

adjusted_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)
print("Adjusted RÂ²:", round(adjusted_r2, 3))

Adjusted RÂ²: 0.887

In [ ]:
## mae & mre
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("MAE:", round(mae, 2))
print("RMSE:", round(rmse, 2))

MAE: 196.52
RMSE: 253.9

In [ ]:
coefficients = pd.DataFrame({
    "Feature": X_encoded.columns,
    "Coefficient": model.coef_
})

coefficients

             Feature  Coefficient
0     bill_length_mm    16.878514
1      bill_depth_mm    65.162014
2  flipper_length_mm    14.962111
3  species_Chinstrap  -220.821010
4     species_Gentoo  1062.406328
5           sex_Male   397.651767